{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{% static '/home/styles/base.css' %}">
    {% block extracss %}{% endblock %}
</head>
<body>
    <header>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'saiba_mais' %}">Saiba mais</a>
        <a href="{% url 'viagens_baratas' %}">Viagens baratas</a>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>